*.o
*.so
*.pyc
*.pdf
*.bin
*.swp
*.cproject
*.project
*.settings
nbody
.DS_Store
error.txt
ipython_examples/test.ipynb
data/*.440
data/*.441
data/*.bsp
dev_tools/constants/constants
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
unit_tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
MANIFEST
assist.egg-info
venv/
dist/
build/
.ipynb_checkpoints
doc/doxygen/xml/
doc/_build/
doc/c_examples.rst
doc/doxygen/html/
doc/ipython
doc/search.json
problems/
*.dSYM
Untitled*
.vscode/*
*.code-workspace
.eggs/*
docs/c_examples/*.md
